body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  background-color: rgb(176, 251, 252);
  border: 2px solid yellow;
  padding:10px;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position:fixed;
  padding-top: 60px;
  overflow-y: auto;
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  background: white;
  padding: 10px 0;
  color: black;
  top: 0;
  z-index: 1;
}

.logo {
  max-width: 80px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;        
  background: rgb(170, 127, 127);
  padding: 10px 0;
  color: black;
  margin-right: 100px;
  top: 30px;
  margin-top: 85px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.nav-buttons button {
  margin-bottom: 10px;
  padding: 15px 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-top: 230px;
  padding: 10px;
}

.articleCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
}

.articleImg {
  max-width: 100%;
}

#loading-msg {
  margin-top: 100px;
}

.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
}

.commentCard {
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  margin-left: 0%;
  margin-right: 10%;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    position: fixed;        
    background: rgb(170, 127, 127);
    padding: 10px 0;
    color: black;
    margin-right: 100px;
    right: 0;
    margin-top: 115px;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  main{
    width: 50%;
    margin-left: 15%;
    margin-top: 80px
  }
}

